body {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 57rem;
  width: 30rem;
  position: relative;
}

.div1 {
  position: absolute;
  background-color: rgb(63, 63, 63);
  height: 45rem;
  width: 20rem;
}

.div2 {
  position: absolute;
  background-color: black;
  height: 23rem;
  width: 16rem;
  top: 22rem;
  left: 11.5rem;
}
.div3 {
  position: absolute;
  background-color: grey;
  height: 14rem;
  width: 14rem;
  top: 38rem;
  left: 5rem;
}
