body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  height: 57rem;
  width: 115.9rem;
  justify-content: flex-end;
}

.div1 {
  background-color: rgb(70, 70, 70);
  height: 30rem;
  width: 30rem;
  display: flex;
  align-items: flex-end;
}

.div2 {
  background-color: black;
  height: 15rem;
  width: 15rem;
}
