.container-1,
.container-2,
.container-3 {
  display: flex;
  height: 6.25rem;
}

.container-1 {
  justify-content: flex-start;
}
.container-2 {
  justify-content: center;
}

.container-3 {
  justify-content: flex-end;
}

.div1,
.div2,
.div3 {
  background-color: black;
  height: 100%;
  width: 6.25rem;
}
