body {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 50rem;
  width: 70rem;
  position: relative;
}

.div1 {
  background-color: black;
  height: 10rem;
  width: 10rem;
  position: absolute;
}
.div2 {
  background-color: rgb(104, 104, 104);
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.div3 {
  background-color: black;
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 10rem;
  left: 10rem;
}
.div4 {
  background-color: rgb(104, 104, 104);
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 15rem;
  left: 15rem;
}
.div5 {
  background-color: black;
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 20rem;
  left: 20rem;
}
